<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>Wcg Player Information</h1>
<br>
<script>
    var value = {{.temp}}
    if (value.length == 0){
        document.write("No Player")
    }else {
        document.write("Player List")
    }
</script>

<ul>
    {{range .temp}}
        <li>
            <h1>Team Name : {{ .TeamName }} </h1>
            Type :  {{.Type}} <br>
            Instance Id : {{ .Ec2Id }} <br>
            KeyName : {{.KeyName}} <br>
        </li>
    {{ end }}
</ul>

<br>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}